.section-hero{
    height: 500px;
    display: flex;
    
}
.section-hero > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
}

.section-hero > .container img{
    width: 200px;
    height: 200px;
}