@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import 'nav.css';
@import 'hero.css';
@import 'input.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,

html{
    font: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.color-blue{
  color: blue;

}